.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
