.box {
  padding: 10px;
  margin-bottom: 16px;
  .name {
    font-weight: bold;
  }
  .processing {
    color: red;
  }
  .completed {
    color: green;
  }
  .ant-card-body {
    display: flex;
    gap: 10px;
  }
  .link-wrapper {
    display: flex;
    column-gap: 20px;
  }
}
